body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Verdana;
  color: #9040c2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.year, .year-selected, .month, .month-selected {
  width: 100px;
  border: 3px solid #9040c2;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  margin: 5px;
  float: left;
  transition: 0.3s;
  cursor: pointer;
}

.year, .year-selected {
  font-size: 20px;
}

.year-selected, .month-selected {
  color: white;
  background-color: #b25ee6;
}

#firstMonth {
  clear:both;
}

.year:hover, .month:hover {
  color: white;
  background-color: #b25ee6;
}

#productList {
  float: left;
  max-width: 1700px;
}

.product {
  float: left;
  width: 240px;
  height: 380px;
  margin: 10px;
  padding: 5px;
  border: 2px dashed #9040c2;
  border-radius: 10px;
  text-align: center;
}

.product img {
  width: 240px;
  height: 240px;
}

#filtersBox {
  width: 100%;
  height: 170px;
}
